<% include partials/header %>

	<form method = "POST" action = "/loggedIn">

	<label>Email of Manager</label><br>
	<input type="text" name = "email"> 

	<br>

	<input type = "submit" value="Submit">


<% include partials/footer %>