<% include partials/header %>

	<h1>Your skill level</h1>
	<p>Enter your skill level from 0 to 5 <p>

	<form method = "POST" action = "/users/skills">
		<label>Web</label><br>
		<input type="text" name = "web"> <br>

		<label>Android</label><br>
		<input type="text" name = "android"> <br>

		<label>IOS</label><br>
		<input type="text" name = "ios">
		<br>

		<label>IOT</label><br>
		<input type="text" name = "iot">
		<br>

		<input type = "submit" value="Submit">
	</form>

<% include partials/footer %>

