<% include partials/header %>
	<h1>Log IN Page</h1><hr>

	<form method = "POST" action = "/login">

		<label>Email</label><br>
		<input type="text" name = "email"> <br>

		<label>Password</label><br>
		<input type="text" name = "password">
		<br>
		<input type = "submit" value="Submit">

	</form>
<% include partials/footer %>