<% include partials/header %>


	<a href = 'http://localhost:3000/createProject'> Create New Project </a>
	<br>
	<a href = 'http://localhost:3000/allProjects'> All Projects </a>
	<br>
	<a href = '/assignProject'> Assign Projects </a>


<% include partials/footer %>